@CHARSET "UTF-8";
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}
html,body,ul,h1,h2,h3,p,button,ul{padding:0;margin:0;border: none;}
a{text-decoration: none;}
li{list-style-type:none;}
.clearfix:after{content:"";display:block;clear:both;}
/* 去掉setion间的间隙 */
section{font-size:0;padding: 50px 0;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}
.line{
	border: 1px solid #702e2f;
	margin: 25px auto 21px;
	width: 80px;
}
.main-title{
	text-align: center;
    margin-bottom: 40px;
}
#header .navbar{
	background: #702e2f;
	padding: 15px 0;
	top: 0 !important;
}
.navbar-brand{
	height: auto;
}
#header .phone{
	line-height: 27px;
	margin-left: 15px;
}
#header .phone .phone-title img{
	width: 16px;
	height: 16px;
	margin-right: 5px;
	display: inline-block;
}
#header .phone .phone-title p{
	color: #fff;
	font-size: 16px;
	padding-top: 5px;
	display: inline-block;
}
#header .phone .phone-number p{
	color: #e6db99;
	font-size: 22px;
}
#banner{
	margin-top: 91px;
	height: 600px;
	background: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#company{
	padding:50px 0;
}
#company .company-intro{
	font-size: .7rem;
	font-weight: 300;
	color: #444;
}
#company .company-intro p{
	margin: 0 0 20px;
}
#service{
	background-color: #e1e1e1;
}
#service .service-content{
	-webkit-transition: all 0.225s ease-in-out;
    -moz-transition: all 0.225s ease-in-out;
    -o-transition: all 0.225s ease-in-out;
    transition: all 0.225s ease-in-out;
    text-align: center;
    background-color: #fafafa;
    border:1px solid #c1c1c1;
    padding:10px 10px 20px;
}
#service .service-content:hover {
	background-color: #702e2f;
    border:1px solid #702e2f;
    box-shadow: 0 0 20px 0 rgba(112, 46, 47,.5);
    color: #fff;
}
#service .service-content:hover > .glyphicon{
    color: #fff;
}
#service .glyphicon{
	color: #702e2f;
    font-size: 2rem;
    line-height: 1.5em;
}
#service .service-content .title{
	font-size: .7rem;
	margin: 25px 0 20px;
}
#service .service-content p{
	font-size: .45rem;
}
#card .card-item {
	padding-left: 0;
	padding-right: 0;
	background-color: #fafafa;
	border: 1px solid #c1c1c1;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#card .card-item:hover{
    box-shadow: 0 0 20px 0 rgba(38, 38, 38,.5);
    color: #fff;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 10;
}
#card .card-item:first-child{
	background:url("../img/meishi/card-meishi.jpg");
}
#card .card-item:nth-child(2){
	background:url("../img/oushi/card-oushi.jpg");
}
#card .card-item:nth-child(3){
	background:url("../img/xiandai/card-xiandai.jpg");
}
#card .card-item:nth-child(4){
	background:url("../img/xinzhongshi/card-xinzhongshi.jpg");
}
#card .card-item{
	height: 10rem;
}